<%= form_for :registration ,:url=>{:controller => 'registrations', :action => 'create'} do |f| %>
<div class="control-group">
   <label class="control-label">First Name</label>
     <div class="controls controls-row">
        <input type="text" class="input-block-level"  name="registration[fname]" required>
      </div>
</div>
<div class="control-group">
   <label class="control-label">Last Name</label>
     <div class="controls controls-row">
        <input type="text" class="input-block-level"  name="registration[lname]" required>
      </div>
</div>

<div class="control-group">
   <label class="control-label">User Name</label>
     <div class="controls controls-row">
        <input type="text" class="input-block-level"  name="registration[user_name]" required>
      </div>
</div>

<div class="control-group">
   <label class="control-label">Password</label>
     <div class="controls controls-row">
        <input type="Password" class="input-block-level"  name="registration[password]" required>
      </div>
</div>
<div class="control-group">
   <label class="control-label">Comfirm Password</label>
     <div class="controls controls-row">
        <input type="Password" class="input-block-level" name="registration[password_confirmation]">
      </div>
</div>
<div class="control-group">
   <label class="control-label">User Type</label>
     <div class="controls controls-row">
        <select name="registration[user_type]">
        	<option>--Select--</option>
        	<option value="1">Super Admin</option>
        	<option value="2">Admin</option>
        	<option value="3">Sub Admin</option>
        </select>
      </div>
</div>
<div class="control-group">
	<label class="control-label">
		Status
	</label>
	<div class="controls">
		<label>
			<div style="float:left;">
				<span >
					<input type="radio" name="registration[status]" value="1" checked>
				</span></div>
			Enable
		</label>
		<label style="margin-left:10px;">
			<div style="float:left;" >
				<span>
					<input type="radio" name="registration[status]" value="0"  >
				</span>
			</div>
			Disable
		</label>
	</div>									
</div>
<div style="margin-top:10px;margin-left:30px;">
	<input type="submit" value="Submit">
</div>
<% end %>
